<html>
<head>
<title>Vue-slider-component</title>
</head>
<body>
  <div id="main">
	<h2 class="my-4">Muebles</h2>
    <p><strong>ORDENAR POR:</strong> <select v-model="sortBy">

    <option value="lowestprice">Precio Menor a Mayor</option>
    <option value="highestprice">Precio Mayor a Menor</option>
  </select>
    <div class="col-lg-9 col-md-9  order-md-2 order-1">
     <div class="row"> <div class="col-xl-4 col-lg-4 col-md-6 mb-5"  v-for="(product, index) in computedProducts" :key="index">
          <a class="card border-0  lift h-100" href="#!">
            <img class="card-img-top" :src="product.img" alt="..." />
            <div class="card-body p-3">
              <div class="card-title  mb-0">${{ product.price }}</div>
              <div class="text-xs text-gray-700"> {{ product.title }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
<div id="slider">
{{ message }}
</div>
<div id="app">
 <vue-slider ref="slider" v-model="value" v-bind="options"></vue-slider>
 <h1>{{ value }}</h1>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">
<script src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>

<script>

new Vue( {
  el: '#app',
  data () {
    return {
    	value: [20,50],
      options: {
        dotSize: 14,
        width: 'auto',
        height: 4,
        contained: false,
        direction: 'ltr',
	      data: null,
        dataLabel: 'label',
        dataValue: 'value',
        min: 0,
        max: 100,
        interval: 1,
        disabled: false,
        clickable: true,
        duration: 0.5,
        adsorb: false,
        lazy: false,
        tooltip: 'active',
        tooltipPlacement: 'top',
        tooltipFormatter: void 0,
        useKeyboard: false,
        keydownHook: null,
        dragOnClick: false,
        enableCross: true,
        fixed: false,
        minRange: void 0,
        maxRange: void 0,
        order: true,
        marks: false,
        dotOptions: void 0,
        dotAttrs: void 0,
        process: true,
        dotStyle: void 0,
        railStyle: void 0,
        processStyle: void 0,
        tooltipStyle: void 0,
        stepStyle: void 0,
        stepActiveStyle: void 0,
        labelStyle: void 0,
        labelActiveStyle: void 0,
      }
    }
  },
  methods: {
  },
  mounted () {
  },
  components: {
    'vue-slider': window[ 'vue-slider-component' ],
  }
})

</script>
<script>
new Vue({
	el: "#slider",
	data() {
		return  {
		message: "Hola"
		}
	}
})
</script>
<script>
  var vm = new Vue({
    el: '#main',
    data() {
      return{
        prices:[],
        products: [
          {title: "Cesta con asas, negro bambú", price:5, img: "https://www.ikea.com/es/es/images/products/lustigkurre-cesta-con-asas-negro-bambu__0922230_PE788101_S5.JPG?f=s"},
          {title: "Aparador, gris140x84 cm", price:487863, img: "https://www.ikea.com/es/es/images/products/hauga-aparador-gris__0914114_PE783852_S5.JPG?f=s"},
          {title: "Lámpara de techo, latón/vidrio transparente gris22 cm", price:48752, img: "https://www.ikea.com/es/es/images/products/solklint-lampara-techo-laton-vidrio-transparente-gris__0842306_PE778948_S5.JPG?f=s"},
          {title: "Lámpara de pie/lectura, verde", price:7412, img: "https://www.ikea.com/es/es/images/products/arod-lampara-pie-lectura-verde__0738008_PE741319_S5.JPG?f=s" }
        ],
        sortBy: 'price',
        sortDirection: 'asc',
      }
    },
    computed: {
      computedProducts: function () {
        return this.products.filter((item) => {
          return (this.prices.length === 0 || this.prices.includes(item.price))
        }).sort((a, b) => {
          if (this.sortBy =='highestprice') {
          return b.price-a.price;
          }
          if (this.sortBy =='lowestprice') {
          return a.price-b.price;
          }
          
        });
      }
    }
  });    
  </script>

</body>
</html>
